$menuWidth:200px;
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-family: 'Noto Sans TC', sans-serif;
    a {
        color: #000;
        text-decoration: none;
    }
}

.logo {
    font-family: 'Lobster', cursive;
}

.navbar {
    padding: 1rem;
    width: calc(100vw - 2rem);
    font-size: 2rem;
    box-shadow: 0 1px 5px #aaa;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    z-index: 6;
    background-color: #fff;
    cursor: pointer;
}

.menu {
    padding: 3rem;
    position: fixed;
    top: 0;
    width: $menuWidth;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: -1px 5px 5px #aaa;
    transform: translateX(100vw);
    transition: .5s;
    z-index: 30;
    cursor: pointer;
    &.active {
        transform: translateX(calc(100vw - #{$menuWidth} - 6rem));
        transition: .5s;
    }
    .logo {
        font-size: 2rem;
        font-weight: normal;
        padding: 1rem;
    }
    p {
        padding: 1rem;
        font-size: 1.2rem;
        font-family: 'Noto Sans TC', sans-serif;
        font-family: 'Raleway', sans-serif;
    }
}

.mask {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 29;
}

main {
    h2 {
        text-align: center;
        font-size: 2rem;
        font-family: 'Noto Sans TC', sans-serif;
        padding-bottom: 2rem;
    }
    section {
        padding: 3rem 0 0 0;
    }
}

#about {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 50px;
        img {
            border-radius: 50%;
            width: 200px;
        }
        .intro {
            padding: .5rem 0;
            text-align: center;
            font-size: 1.2rem;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: 400;
        }
    }
    .buttons {
        font-family: 'Noto Sans TC', sans-serif;
        font-family: 'Raleway', sans-serif;
        padding: .5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        span {
            background-color: #000;
            color: #fff;
            border-radius: 6px;
            padding: 0 .7rem;
            font-size: 1rem;
            line-height: 2.6rem;
            height: 2.6rem;
            margin: 5px 0;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 2.8rem;
                padding-left: .8rem;
            }
        }
    }
}

#skills {
    div {
        background-image: url('../img/img (3).jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

#works {
    .container {
        padding: 0 1rem;
        .flex-item {
            display: flex;
            justify-content: center;
            align-items: center;
            img,
            p,
            h3 {
                padding: 0 2rem;
            }
            img {
                box-shadow: 2px 2px 5px #aaa;
            }
            h3 {
                font-size: 1.5rem;
                font-weight: normal;
                padding-bottom: 1rem;
            }
            p {
                width: 500px;
                font-size: 1.2rem;
            }
            &>a {
                margin: 20px;
                position: relative;
            }
            .work-mask {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
}

#contact {
    padding-bottom: 3rem;
    &>form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    label {
        border: 0 0 1px 0;
        margin: 1rem;
        border-bottom: 2px solid #000;
        width: 50%;
        display: flex;
        i {
            font-size: 1.5rem;
            padding-right: 1rem;
        }
    }
    input {
        border: none;
        outline: none;
        font-size: 1.2rem;
        padding-bottom: 1rem;
    }
    button {
        background-color: #000;
        color: #fff;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        border-radius: 5px;
        i {
            font-size: 1rem;
            padding-right: 10px;
        }
    }
}

footer {
    text-align: center;
    padding: 10px;
    font-size: .8rem;
}

@media (min-width: 576px) {
    #skills {
        img {
            width: 100px;
            padding: 60px 10px;
        }
    }
}

@media (max-width: 575.9px) {
    #skills {
        img {
            width: 30%;
            padding: 20px 25px;
        }
    }
}

@media (min-width: 768px) {
    #works {
        .container {
            div {
                flex-wrap: nowrap;
                img {
                    width: 400px;
                }
            }
        }
    }
}

@media (max-width: 767.9px) {
    #works {
        .container {
            div {
                flex-wrap: wrap;
                img {
                    width: 600px;
                }
            }
        }
    }
}